<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Medicos
<ul>

    {% for medico in medicos %}


    <li>{{ medico.nome }}</li>
    {% endfor %}
</ul>

Especialidades
<ul>

    {% for especialidade in especialidades %}


    <li>{{ especialidade.nome }}</li>
    {% endfor %}
</ul>

Clientes
<ul>

    {% for cliente in clientes %}


    <li>{{ cliente.nome }}</li>
    {% endfor %}
</ul>

Consultas
<ul>

    {% for consulta in consultas %}


    <li>{{ consulta.nome }}</li>
    {% endfor %}
</ul>

Convenios
<ul>

    {% for convenio in convenios %}


    <li>{{ convenio.nome }}</li>
    {% endfor %}
</ul>

Turnos
<ul>

    {% for turno in turnos %}
    <b>Turno {{turno.id}}</b>

        {% for escala in turno.tempo.all %}

        <li>{{escala.inicio }}  às   {{escala.fim }} </li>


        {% endfor %}
    {% endfor %}
</ul>

</body>
</html>