<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Título da Página</title>
</head>
<body>
Medicos
<ul>

    {% for medico in medicos %}


    <li>{{ medico.nome }}</li>
    {% endfor %}
</ul>

Especialidades
<ul>

    {% for especialidade in especialidades %}


    <li>{{ especialidade.nome }}</li>
    {% endfor %}
</ul>

Clientes
<ul>

    {% for cliente in clientes %}


    <li>{{ cliente.nome }}</li>
    {% endfor %}
</ul>

Consultas agendadas
<ul>

    {% for consulta in consultas %}


    <li>{{ consulta.data }} às {{ consulta.inicio }} Dr(a). {{ consulta.medico }} - {{ consulta.cliente }}</li>
    {% endfor %}
</ul>

Convenios
<ul>

    {% for convenio in convenios %}


    <li>{{ convenio.nome }}</li>
    {% endfor %}
</ul>

Turnos
<ul>

    {% for turno in turnos %}
    <b>Turno {{turno.id}} - {{turno.nome}}</b>

        {% for escala in turno.tempo.all %}

        <li>{{escala.inicio }}  às   {{escala.fim }} </li>


        {% endfor %}
    {% endfor %}
</ul>

</body>
</html>